- var number = 1
html
	head
		title= title
	body
		h1= message1
		h1= message2
		h1= message3
		
		.container              
			table(style='width:100%', border='1')
				tr
				th No
				th Data
				tbody
					each coba in aku=data
						tr
							td #{number++}
							td #{coba}
							